<!DOCTYPE html>
<html>
<body>
{% extends "layout.html" %}
{% block content %}
   <div class="mentors">
     <h1> Mentors </h1>
     <p> Here are some of our Mentors Bios</p>
   </div>
<section class="speaker" id="aman">

          <div class="col-2-3">

            <h2>Amanuel Mengiste Lemenih</h2>
            <h5>About Aman</h5>
            <p> Amanuel, known to most as Aman, is a recent graduate from Columbia University. 
            He currently works as a Software Engineer at IBM in NYC. He has been part of the CTP team since 2016. 
            Aman is passionate about education and sees himself doing something that's an intersection of technology and education somewhere in Africa (most likely in Ethiopia). 
            Aman is happiest and most satisfied when he helps others. He gives his heart and soul to CTP and does his best to see it become the best that it can be. 
            In his spare time, Aman follows everything there is to follow about football (yeah, the real football! One where the players actually use their feet to hit the ball for 90 minutes). 
            Oh and he is great in FIFA. </p>
          </div>
	 <aside class="col-1-3">
            <div class="info">
              <ul>
                  <img src= "/6ce7f191-823f-4215-b6b8-88737338e83e.jpg" width= "300" height= "300"></img>
              </ul>

            </div>
          </aside>
        </section>
      </div>
</section>
 {% endblock %}
</body>
</html>
